@tailwind base;
@tailwind components;
@tailwind utilities;


.arial-font {
  font-family: Arial, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-pal-1: #c2b2a5;
  --color-pal-2: #7a8b65;
  --color-pal-3: #424f35;
  --color-pal-4: #25312f;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* for the modelling page to aling the text and images */
/* Add these styles to your CSS file or within a <style> block */
.flex-container {
  display: flex;
  align-items: flex-start; /* Align items at the start of the flex container */
  gap: 20px; /* Adjust the gap between the text and images as needed */
}

.text-container {
  flex: 1; /* Allow the text container to grow if needed */
}

.grid {
  flex: 2; /* Allow the grid to take up more space */
}
