/* public/css/embla.css */

.embla {
  position: relative;
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 500px; /* Adjust height as needed to fit your image */
}

.embla__container {
  display: flex;
}

.embla__slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.embla__slide__img {
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
  border-radius: 15px; /* Adjust this value for the desired roundness */
  position: relative; /* Ensure images are properly positioned */

  border: 2px solid rgba(0, 0, 0, 0.2); /* Faint border */

}

.embla__controls {
  position: absolute;
  bottom: 10px; /* Space from the bottom to avoid overlap */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10; /* Ensure controls are above other elements */
}

.embla__button {
  background: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px; /* Add space between buttons */
}

.embla__dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
